body{
  background-color: #FFCB23;
}

td{
  background-color: rgba(255, 255, 255, 0.753); font-size: large; 
  
  
}

p{
  background-color: black; color: white;
  width: 350px;
}

.line{

}

table{
  height: 20vh; width: 65vw;
  background-color: white;
  
}

th{
  text-align: left;
}

.p2{
  padding: 15px; margin-bottom: 0px;
}

.ashcolor{
  background-color: rgba(0, 0, 0, 0.281);
}

.ashlight{
  background-color: rgba(0, 0, 0, 0.116);
}