body{
    background-color: azure; 
}

.image{
    width: 70px; display: block; margin-left: auto
}

input{
    padding: px; margin-bottom: 10px;
}

h1{
    margin: 0px; border: 3; padding: px; color: green;
}

p{
    margin: 0px;
}

h3{
    margin: 0px;
}

button{
    background-color: rgb(160, 233, 160);
}